* { box-sizing: border-box; }


.shop-Bg{
    height: 500rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .shop-Bg{
    background: linear-gradient(180deg, #65dfc9, #2833ca, #6cdbeb);
    background-size: 600% 600%;
  
    -o-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
  }

  @-o-keyframes AnimationName {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
  }

  .glass2{
    background: white;
    height: 95%;
    width: 90%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),  rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -17rem;
  }

  .circle3, .circle4{
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8),  rgba(255,255,255,0.3));
    border-radius: 2rem;
    height: 15rem;
    width: 15rem;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle3{
   top: 3%;
   right: 0%
  }
  
  .circle4{
    bottom: 5%;
    left: 0%;
  }

  .header2{
    width: 100%;
    min-height: 10vh;
    border: 1px solid red;
    border-radius: 2rem 2rem 0rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),  rgba(255,255,255,0.3));
  }

  .links{
    border: 1px red solid;
    display: flex;
    width: 40%;
    align-content: baseline;
    justify-content: space-between;
    margin-right: 2rem;
  }

  .storeArea{
    width: 95%;
    height: 80vh;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .icon2 {
    overflow: hidden;
    width: 22rem;
    height: 30rem;
    display: inline-block;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin:65px 0 0px 40px;
    border-radius: 2rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    font-family: sans-serif;
    background-color: #e4eee9;
    background-image: linear-gradient(315deg, #e4eee9 0%, #93a5ce 74%);
  }
  
 
  .buyBtn {
    width: 5.5rem;
    height: 2.9rem;
    border-radius: 2rem;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    border: none;
    margin-top: 10px;
    margin-left: 1.8rem;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8),  rgba(255,255,255,0.3));
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .shoppingCart{
    width: 1rem;
    height: 1rem;
    padding-top: 3px;
    margin-bottom: -2px;
  }

    .wallet{
    width: 2rem;
    height: 2.1rem;
    padding-top: 3px;
    margin-bottom: -2px;
    }

    .walletBtn{
      width: 2.9rem;
    height: 2.9rem;
    border-radius: 50%;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    border: none;
    margin-top: 10px;
    margin-left: 3rem;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8),  rgba(255,255,255,0.3));
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

.spacing{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.sideNav{
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-left: 1rem;
  width: 22rem;
  height: 35rem;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7),  rgba(255,255,255,0.3));
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2rem;
}

.shopContainer{
  display: flex;
  flex-direction: row;
}

h6{
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  color: #426696;
  opacity: 0.8;
  text-align: center;
}

a{
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  color: gray;
  opacity: 0.8;
}

.collectionBtn{
    width: 7.5rem;
    height: 2.2rem;
    border-radius: 2rem;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    border: none;
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: #b1bfd8;
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
    align-self: center;
}

.absolutePos{
  position: absolute;
  top: 170px;
  left: 15%;
  width: 10rem;
  height: 3rem;
}

.statsContainer{
  width: 50rem;
  height: 5rem;
  position: relative;
  top: -95%;
  left: 200%;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.statsBox{
    width: 9.2rem;
    height: 4.2rem;
    border-radius: 2rem;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border: none;
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  
    align-self: center;
    text-align: center;
    color: #5583C0;
}

.strike {
  width:100%;
  height:1px;
  background-image: black
}

h5{
  align-self: center;
    text-align: center;
    color: black;
    font-size: 20px;
    padding-top: 8px ;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    opacity: 0.8;
    padding-left: 5px;
}

.EthLogo{
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

.collectionButtons{
  height: 90%;
  width: 98%;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Things to do  
- Add social Btn
- Clean up CSS
- Fix main screen layout
- fix navbar
-make text eaiser to read. 
-add animations. 
-Add price avg price


*/